@page "{departmentCode}"
@model Metrics.Web.Pages.Manage.Departments.EditModel
@{
    ViewData["Title"] = "Update Department";
}

<h3>Edit Department</h3>

@if (!ModelState.IsValid)
{
    <div class="form bg-light p-4">
        <div class="alert alert-danger">
            <h4>There were some errors:</h4>
            <ul>
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    </div>
}

<div class="container mt-2">
    <form method="post">

        <div class="col-6 justify-content-center">
            <div class="form-group row my-2">
                <label asp-for="FormInput.DepartmentName" class="mb-4">Department Name</label>
            </div>

            <div class="form-group row my-2">
                <input asp-for="FormInput.DepartmentName" id="input__departmentName" class="form-control" />
            </div>

            <div class="form-group row my-2">
                <span asp-validation-for="FormInput.DepartmentName" class="text-danger"></span>
            </div>
            
            <div class="form-group row my-2">
                <div class="d-flex justify-content-end">
                    <button
                            type="submit" 
                            class="btn btn-primary ms-2">Update</button>
                    <button asp-page-handler="Cancel" 
                            type="submit" 
                            class="btn btn-warning ms-2">Cancel</button>
                </div>
                @* <input type="" name="Id" value="@Model.UpdateModel.Id" /> *@
                @* <input type="" name="DepartmentCode" value="@Model.UpdateModel.DepartmentCode" /> *@
            </div>
        </div>

    </form>
</div>

@section Scripts
{
    @* <partial name="_ValidationScriptsPartial" /> *@
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function() {
            @* document.getElementById("input__departmentName").focus(); *@
            $("#input__departmentName").focus().select();
        });

    </script>
}