@page

@model Metrics.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h4 class="flex-grow-1">Welcome</h4>
        <span class="justify-content-end gap-2"></span>
    </div>
    @* <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item active">Submit</li>
        </ol>
    </nav> *@
</div>

<div class="container">

</div>