@page
@model Metrics.Web.Pages.Account.Me.EditModel
@{
    ViewData["Title"] = "Edit Profile";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1">Edit Profile</h4>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Account/Me/Index">Profile</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>

</div>

<div class="container">
    @* <div class="col-sm-12 col-md-10 col-xl-8 mx-auto bg-light p-4"> *@
    <div class="col-lg-12 col-xl-10 pt-2 mx-auto">
         <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if(Model.IsAdmin)
            {
                <div class="mb-3 col-sm-12 col-md-8 col-lg-6">
                    <div class="mb-3"> <!-- Staff ID -->
                        <label asp-for="Input.UserCode" class="form-label">Staff ID</label>
                        <input asp-for="Input.UserCode" type="text"
                                class="form-control"
                                aria-required="true"
                                placeholder="Please enter your staff id." 
                                required />
                        <span asp-validation-for="Input.UserCode" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Input.UserCode" />
            }
            <div class="mb-3 col-sm-12 col-md-8 col-lg-6">
                <div class="mb-3"> <!-- Email -->
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" type="email"
                            class="form-control" 
                            aria-required="true" 
                            autocomplete="current-password" 
                            placeholder="Please enter your current password." 
                            required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 col-sm-12 col-md-8 col-lg-6">
                <div class="mb-3"> <!-- Full Name -->
                    <label asp-for="Input.FullName" class="form-label">Full Name</label>
                    <input asp-for="Input.FullName" type="text"
                            class="form-control" 
                            aria-required="true" 
                            autocomplete="current-password" 
                            placeholder="Please enter your current password." 
                            required />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 col-sm-12 col-md-8 col-lg-6"> <!-- Contact Address -->
                <label asp-for="Input.ContactAddress" class="form-label">Address</label>
                <textarea asp-for="Input.ContactAddress"
                        class="form-control" 
                        aria-required="false" 
                        placeholder="Please fill your contact address." 
                        rows="4"
                        required></textarea>
                <span asp-validation-for="Input.ContactAddress" class="text-danger"></span>
            </div>
            <div class="mb-3 col-sm-12 col-md-8 col-lg-6"> <!-- Contact Number -->
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                <textarea asp-for="Input.PhoneNumber"
                        class="form-control" 
                        aria-required="false" 
                        placeholder="Please fill your contact phone number."
                        rows="4"
                        required></textarea>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3 col-sm-12 col-md-8 col-lg-6"> <!-- Form Action -->
                <div class="d-flex justify-content-end pe-0 gap-2">
                            @* class="btn btn-primary ms-2">Save</button> *@
                    <a asp-page="/Account/Me/Index" 
                        class="btn btn-warning mb-3">
                        <i class="bi bi-arrow-left"> </i>Back</a>
                    <button type="submit" 
                        class="btn btn-primary mb-3">
                        <i class="bi bi-check-circle"> </i>Update</button>
                    @* <button asp-page-handler="Cancel" 
                            type="submit" 
                            class="btn btn-warning ms-2" formnovalidate><i class="bi bi-x-circle"> </i>Cancel</button> *@
                </div>
            </div>
         </form>
    </div>


</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}