@page
@model Metrics.Web.Pages.Manage.Submissions.DepartmentKeyMetrics.ViewModel
@{
    ViewData["Title"] = $"Key Metrics for {Model.CurrentPeriodName}";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1">Key Metrics for @Model.CurrentPeriodName</h4>
        <span class="justify-content-end gap-2"></span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Submissions/KeyMetrics/Index">Key Metrics</a></li>
            <li class="breadcrumb-item active">View</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="bg-light p-4 rounded-2">
        <div class="filter-toolbar mb-4 d-flex justify-content-between">
          
        </div>
        <div class="">
            <div class="col-4">
                @* <form id="form__departmentSelection" method="get"> *@
                            @* onchange="this.form.submit()" *@
                    @* <select asp-for="Department"
                            asp-items="Model.DepartmentListItems"
                            class="form-select" 
                            size="10" 
                            aria-label="Select Department">
                    </select> *@
                @* </form> *@
            </div>
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                    <label class="form-check-label" for="checkChecked">
                        Checked checkbox
                    </label>
                </div>
            </div>
        </div>

        @* <table id="keyMetricTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Key Metric</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DepartmentKeyMetrics.Any())
                {
                    @foreach(var p in Model.DepartmentKeyMetrics)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-page="View" 
                                    asp-route-periodName="@p.MetricTitle"
                                    class="link-primary 
                                            link-offset-2 
                                            link-underline-opacity-25 
                                            link-underline-opacity-100-hover">
                                    <strong>@p.MetricTitle</strong></a>
                            </td>
                            <td class="text-center">
                                <a asp-page="View" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="btn btn-sm btn-outline-primary my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Details</strong></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table> *@
    </div>
</div>


@section Scripts {
    
    <script>
        $(function() {
            new DataTable('#keyMetricTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                initComplete: function() {
                    // Center align the header cells
                    @* $('#reportTable thead th').addClass('text-light text-center ');
                    $('#reportTable thead th').addClass('valign-middle bg-brand-color');
                    $('#reportTable tbody td').addClass('valign-middle'); *@
                }
        });
    </script>
}