@page
@model Metrics.Web.Pages.Account.Locked.IndexModel
@{
    ViewData["Title"] = "Account Locked";
}

<div class="container">
    <h4>Account Locked</h4>

    <div class="text-warning">
        <h5>Your account has been locked. Please contact Administrator.</h5>
    </div>
</div>