@page "{DepartmentName}"
@model Metrics.Web.Pages.Reports.Submissions.Kpi.DepartmentModel
@{
    ViewData["Title"] = "Score Submission Report";
}

<div class="sectionTitle">
    <div class="d-flex align-items-center">
    </div>
    <div class="d-flex align-items-center">
        <span class="d-flex align-items-center flex-grow-1">
            <h4>Score Submission Report on Department (KPI)</h4>
            @* <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToString("MMM dd, yyyy"))</small>
            </span> *@
        </span>
        <span class="justify-content-end gap-2">
            @* <button class="btn btn-primary">ddd</button> *@
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Departments/Kpi/Index">Submissions</a></li>
            @* <li class="breadcrumb-item active">@Model.SelectedPeriod.PeriodName</li> *@
        </ol>
    </nav>
</div>