@page
@model Metrics.Web.Pages.Error.UnauthorizedModel
@{
    ViewData["Title"] = "Unauthorized Access";
}

<div class="section mb-4 p-4">
    <div class="col col-10 mx-auto text-danger ">
        <h4>Unauthorized Access</h4>
        <p>Current user NOT allowed to access this page.</p>
    </div>
</div>