@page
@model Metrics.Web.Pages.Kpi.Submissions.IndexModel
@{
    ViewData["Title"] = "KPI Score Submissions";
}

<h3>KPI Score Submissions</h3>

@if(Model.IsSubmissionAvaiable)
{
    @* <div class="my-4 pb-4">check Submissions is avaiable (early or late)</div> *@
    <div class="my-4 pb-4">
        <ul>
        @foreach(var period in Model.KpiPeriodList)
        {
            <li class="m-2">
            <a asp-page="Apply" 
                    asp-route-periodName="@period.PeriodName"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@period.PeriodName</a>
            <label>@period.SubmissionStartDate.ToLocalTime().ToString("dd/MMM/yyyy") - @period.SubmissionEndDate.ToLocalTime().ToString("dd/MMM/yyyy")</label>
            </li>
        }
        </ul>
    </div>
}
else
{
    <span>No Submission Avaiable Currently.</span>
}