@page "/Reports/Submissions/Department-Kpi/"
@model Metrics.Web.Pages.Reports.Submissions.DepartmentKpi.IndexModel
@using Metrics.Web.Models.PartialViewModels
@{
    ViewData["Title"] = "Department Score Reports (KPI)";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1"><i class="bi bi-table"></i> Department Score Reports (KPI)</h4>
        <span class="justify-content-end gap-2"></span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item active">Department KPI</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="bg-light p-4 rounded-2">
        <partial name="./List/_PeriodList" model="@(new PeriodListPartialModel {
            @* IncludeScripts = true, *@
            TableId = "reportTable",
            LinkBasePage = "/Reports/Submissions/DepartmentKpi",
            Periods = Model.KpiPeriodList,
            Buttons = new List<PeriodListButton> {
                // summary:     bi bi-clipboard-data-fill
                // detail:      bi bi-file-spreadsheet-fill
                new PeriodListButton { Page = "View", Text = "View", IconClass = "bi bi-clipboard-data-fill" },
                new PeriodListButton { Page = "Summary", Text = "Summary", IconClass = "bi bi-clipboard-data-fill" },
                new PeriodListButton { Page = "Detail", Text = "Detail", BootstrapButton="btn-outline-secondary", IconClass = "bi bi-file-spreadsheet-fill" },
            },
            @* Color = "green" *@
        })" />
    </div>  
</div>


@* new PeriodListButton { Page = "Summary", Text = "Summary" },
new PeriodListButton { Page = "Detail", Text = "Details" }, *@
@* @section Scripts {
    <script>
        $(function() {
            new DataTable('#reportIndexTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: "20%", targets: [0] },
                    { orderable: false, targets: [0] }
                ],
                initComplete: function() {
                    $('thead th').addClass('text-light text-center ');
                    $('thead th').addClass('bg-brand-color');
                }
            });
        });
    </script>
} *@
