@page
@model Metrics.Web.Pages.Dashboard.IndexModel
@{
}

<h3>Dashboard</h3>

<div class="container d-flex">
    <div>
        <ul class="dashboard__quickaccess nav flex-column d-inline-block">
            @* ========================== Admin Area ========================== *@
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Departments/Index">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Kpi/Index">KPI Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Kpi/Periods/Index">KPI Periods</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Kpi/Submissions/Index">Submissions</a>
            </li>
            
        </ul>
    </div>

    <div>
        <ul class="dashboard__quickaccess nav flex-column d-inline-block">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Account/Register">Register User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Employee/Index">Employee</a>
            </li>
        </ul>
    </div>

</div>