@page
@model Metrics.Web.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h3>Dashboard</h3>

<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-xl-3">
            <div class="card my-4">
                <div class="card-header">
                    Company
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Departments/Index">Departments</a></li>
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Employee/Index">Employee</a></li>
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Account/Role/Index">Roles</a></li>
                </ul>
            </div>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-xl-3">
            <div class="card my-4">
                <div class="card-header">
                    KPI
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Kpi/Periods/Index">Period list-group</a></li>
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Kpi/Submissions/Index">Submissions</a></li>
                </ul>
            </div>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-xl-3">
            <div class="card my-4">
                <div class="card-header">
                    Reports
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2"><a class="" asp-area="" asp-page="/Reports/Kpi/Submissions/Index">KPI Submissions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .card .list-group-item > a {
            @* color: #0057ba; *@
            margin: .4em .4em;
            padding: .4em .4em;
        }
        .card .list-group-item > a:hover {
            @* color: #0099ff; *@
            @* background: #3465a443; *@
            @* color: #3465a4; *@
            @* border-radius: 0.4em; *@
        }
    </style>
}