@page
@model Metrics.Web.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="sectionTitle">
    <h4>Dashboard</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>

<div class="container">
</div>

@section Styles {
    <style>
        
    </style>
}