@page
@model Metrics.Web.Pages.About.IndexModel
@{
    ViewData["Title"] = "About";
}


<div class="sectionTitle">
    <h4>About</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
</div>

<div class="container">
</div>