@page
@model Metrics.Web.Pages.About.IndexModel
@inject Metrics.Web.Models.VersionInfo AppVersionInfo
@{
    ViewData["Title"] = "About";
}


<div class="sectionTitle">
    <h4>About</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="col-sm-12 col-md-8 mx-auto">
        <div class="list-group mt-4">
            <h5 class="list-group-item list-group-item-success">Version</h5>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <strong>File Version:</strong>
                <span>@(AppVersionInfo.FileVersion)</span>
            </div>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Assembly Version:</strong>
                <span>@(AppVersionInfo.AssemblyVersion)</span>
            </div>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Informational Version:</strong>
                <span>@(AppVersionInfo.CleanInformationalVersion)</span>
            </div>
        </div>
    </div>
</div>