<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorApp</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/svg" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>

    @* <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span class="d-flex align-items-center no-select">
                    <img src="~/images/logo.svg" alt="Logo" 
                            width="38" height="38" 
                            class="border border-3 border-white rounded d-inline-block align-text-top me-2" >
                    <strong class="metrics-branding">Metrics</strong>
                </span>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="metrics__main-navbar" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/About/Index">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    <div id="main-content" class="container" style="padding-top: 4em; min-height: 90vh;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
