@inject Metrics.Web.Models.VersionInfo AppVersionInfo

<footer id="appFooter" class="app-footer 
                footer 
                border-top 
                mt-auto 
                text-muted 
                pt-2 
                px-4">
    <div class="d-flex justify-content-between">
        <p class="col-auto">
            &copy; 2025 - Metrics Backend
        </p>
        <p class="col-auto text-end">
            <small>
                @* @(AppVersionInfo.FileVersion) *@
                @* | @(AppVersionInfo.AssemblyVersion)  *@
                v@(AppVersionInfo.InformationalVersion)
            </small>
        </p>
    </div>
</footer>