@inject Metrics.Web.Models.VersionInfo AppVersionInfo

<footer class="mt-auto sticky-bottom border-top footer text-muted pt-2 px-4">
    <div class="d-flex justify-content-between">
        <p class="px-4">
            &copy; 2025 - Metrics Backend
        </p>
        <p class="px-4">
            <small>
                @* @AppVersionInfo.FileVersion | *@
                v@(AppVersionInfo.AssemblyVersion) 
                @* @AppVersionInfo.InformationalVersion *@
            </small>
        </p>
    </div>
</footer>