<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metrics Backend</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/svg" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.14.1.custom/jquery-ui.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="~/lib/tempus-dominus/tempus-dominus.min.css" /> *@
    @* <link rel="stylesheet" href="~/metrics-backend.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* ========== CSS Section ========== *@
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Main navigation"> *@
        <nav class="navbar fixed-top bg-body-tertiary
                        navbar-collapse-xs
                        navbar-collapse-sm
                        navbar-expand-md 
                        navbar-expand-lg 
                        border-bottom 
                        box-shadow 
                        mb-3
                        metrics-main-navbar" 
                aria-label="Main navigation">
            <div class="container-fluid">
                <span class="d-flex align-items-center no-select pe-2">
                    <img src="~/images/logo.svg" alt="Logo" 
                            width="38" height="38" 
                            class="border border-3 border-white rounded d-inline-block align-text-top me-2" >
                    <strong class="metrics-branding">Metrics</strong>
                </span>
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="metrics__main-navbar" class="navbar-nav flex-grow-1">
                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        @* ========================== Admin Area ========================== *@
                        @if (User.IsInRole("admin") || User.IsInRole("sysadmin"))
                        @* @if (User.HasClaim("Permission", "CanSubmitScore")) *@
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                            </li>
                        }

                        @* ========================== Employee Area ========================== *@
                        @if (User.IsInRole("Employee"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Kpi/Submissions/Index">KPI Submissions</a>
                            </li>
                        }

                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/About/Index">About</a>
                        </li>
                    </ul>
                    <partial name="Shared/_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div id="main-content" class="container-fluid" style="padding-top: 4em;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2025 - Metrics Backend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    @* <script src="~/lib/tempus-dominus/tempus-dominus.min.js"></script> *@
    <script src="~/lib/jquery-ui-1.14.1.custom/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
