<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metrics Backend</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    @* ========== CSS Section ========== *@
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>

        <nav class="navbar fixed-top navbar-light bg-body-tertiary
                        navbar-collapse-md 
                        navbar-expand-lg 
                        navbar-toggleable-lg 
                        border-bottom box-shadow mb-3" aria-label="Main navigation">
        @* <nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Main navigation"> *@
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Index">Metrics Backend</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="metrics__main-navbar" class="navbar-nav flex-grow-1">
                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        @* ========================== Admin Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Reports/Index">Reports</a>
                        </li>
                        
                        @* ========================== Member Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Kpi/Submissions/Index">KPI Score Submissions</a>
                        </li>


                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/About/Index">About</a>
                        </li>


                         @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/App">MVC App</a>
                        </li> *@
                    </ul>
                    <partial name="Shared/_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container" style="padding-top: 4em;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Metrics Backend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
