@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    var canAccessAdminFeatures = await AuthorizationService.AuthorizeAsync(User, "CanAccessAdminFeaturePolicy");
    var canSubmitBaseScore = await AuthorizationService.AuthorizeAsync(User, "CanSubmitBaseScorePolicy");
}

<!DOCTYPE html>
<html lang="en">
 @* data-bs-theme="dark"> *@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metrics Backend</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/svg" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.14.1.custom/jquery-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> *@
    @* ========== CSS Section ========== *@
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar fixed-top bg-body-tertiary
                        navbar-collapse-xs
                        navbar-collapse-sm
                        navbar-expand-md 
                        navbar-expand-lg 
                        border-bottom 
                        box-shadow 
                        mb-3
                        metrics-main-navbar" 
                aria-label="Main navigation">
            <div class="container-fluid">
                <span class="d-flex align-items-center no-select pe-2">
                    <img src="~/images/logo.svg" alt="Logo" 
                            width="38" height="38" 
                            class="border border-3 border-white rounded d-inline-block align-text-top me-2" >
                    <strong class="metrics-branding">Metrics</strong>
                </span>
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="metrics__main-navbar" class="navbar-nav flex-grow-1">
                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <strong><a class="nav-link" asp-area="" asp-page="/Index">Home</a></strong>
                        </li>
                        @* ========================== Admin Area ========================== *@
                        @if(canAccessAdminFeatures.Succeeded)
                        @* @if (User.IsInRole("admin") || User.IsInRole("sysadmin")) *@
                        @* @if (User.HasClaim("Permission", "CanSubmitScore")) *@
                        {
                            <li class="nav-item">
                                <strong><a class="nav-link " asp-area="" asp-page="/Dashboard/Index">Dashboard</a></strong>
                            </li>
                            <li class="nav-item">
                                <strong><a class="nav-link " asp-area="" asp-page="/Reports/Submissions/Index">Reports</a></strong>
                            </li>
                        }

                        @* ========================== Employee Area ========================== *@
                        @if(canSubmitBaseScore.Succeeded)
                        @* @if((await AuthorizationService.AuthorizeAsync(User, "CanSubmitBaseScorePolicy")).Succeeded) *@
                        {
                            <li class="nav-item">
                                <strong><a class="nav-link" asp-area="" asp-page="/Submissions/Index">Submissions</a></strong>
                            </li>
                        }

                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <strong><a class="nav-link" asp-area="" asp-page="/About/Index">About</a></strong>
                        </li>
                    </ul>
                    @* <span id="theme-toggle" aria-label="Toggle dark mode" class="px-4">
                        <i class="bi bi-sun-fill"></i> <!-- Sun icon for dark mode -->
                        <i class="bi bi-moon-stars-fill"></i> <!-- Moon icon for light mode -->
                    </span> *@
                    <partial name="Shared/_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="main-content" class="container-fluid" style="padding-top: 4em;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.14.1.custom/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="~/lib/tempus-dominus/tempus-dominus.min.js"></script> *@
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        /*
        const toggleButton = document.getElementById("theme-toggle");

        // Function to toggle theme
        toggleButton.addEventListener("click", function () {
            const currentTheme = document.documentElement.getAttribute("data-bs-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.documentElement.setAttribute("data-bs-theme", newTheme);
            // Save user preference
            localStorage.setItem("theme", newTheme);
        });

        // Check for saved user preference
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme) {
            document.documentElement.setAttribute("data-bs-theme", savedTheme);
        }
        */

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
