html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#main-content {
  min-height: 90vh; /* 100% of the viewport height */
}

a {
  color: #3465a4;
  text-decoration: none;
}

a:hover {
  color: #006eff;
}

.nav-item .nav-link {
  color: #3465a4;
}

.nav-item .nav-link:hover {
  color: #1980ff;
}

/* ul#metrics__main-navbar .nav-item .nav-link {
  color: #3465a4;
}

ul#metrics__main-navbar .nav-item .nav-link:hover {
  color: #1980ff;
} */

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

button#goToTop {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 20px;
  z-index: 20;
}

#submissionStatusBar {
  background: rgba(245, 245, 245, 0.652);
  z-index: 10;
}

.radio__kpiscore {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-select {
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
