:root {
  /* --brand-color: #3465a4;
  --brand-color-hover: #0269f0; */
  --brand-color: var(--metric-blue-color);
  --brand-color-hover: var(--metric-deepblue-color);
  --brand-color-dark: #417cc9;
  --primary-color: var(--brand-color) !important;
  /* --primary-hover-color: #0269f0 !important; */
  --outline-primary-color: #3465a4;
  --light-color: #f0f0f0;

  --metric-green-color: rgb(22, 125, 132);
  --metric-deepgreen-color: rgb(3, 91, 73);
  --metric-red-color: rgb(163, 33, 115);
  --metric-deepred-color: rgb(91, 3, 48);
  --metric-blue-color: rgb(33, 63, 163);
  --metric-deepblue-color: rgb(3, 16, 91);

  --metric-lightblue-color: rgb(38, 99, 212);
}

/*
// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name
*/
/* .open-sans-primary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
  position: relative;
  min-height: 100%;
  color-scheme: dark;
}

html,
body {
  /* font-size: 0.9em; */
  font-family: "Inter", sans-serif;
}

/* .mono-text {
  font-family: "Roboto Mono", monospace;
} */

/* #main-content {
} */

#appNavbar {
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.1) !important;
  transition: background 0.3s, backdrop-filter 0.3s; */
  backdrop-filter: blur(4px);
}

.app-header {
  background: none;
  z-index: 100;
}

div .sectionTitle {
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  z-index: 200;
  color: var(--brand-color);
  background: linear-gradient(to right, #ffffffba, #f6f6f6af);
  /* rgba(0, 21, 159, 0.343) !important; */
  transition: background 0.3s, backdrop-filter 0.3s;
  backdrop-filter: blur(4px);
}

div .filter-toolbar {
  z-index: 199;
}

#appFooter {
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.1) !important; */
  background: linear-gradient(to right bottom, #ffffffba 10%, #f6f6f63c);
  transition: background 0.3s, backdrop-filter 0.3s;
  backdrop-filter: blur(4px);
}

.bg-brand-color {
  background: var(--brand-color) !important;
}

/* .btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus { */
/* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; */
/* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25em var(--brand-color); */
/* } */

.status-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  min-width: 120px;
}

.period-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  min-width: 50%;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover {
  /* color: var(--brand-color-hover); */
  /* color: var(--metric-blue-color); */
  /* color: #006eff; */
  /* text-decoration: underline; */
}

/* ========== OVERRIDE: Bootstrap Styles ==================================== */
/* ----- btn-primary ----- */
.btn-primary {
  background: var(--brand-color);
  border-color: var(--brand-color);
  color: #ffffff;
}

.btn-primary:hover {
  /* background: var(--brand-color); */
  background: var(--brand-color-hover);
  border-color: var(--brand-color);
}

.btn-primary:focus,
.btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5);
}

/* ----- btn-outline-primary ----- */
.btn-outline-primary {
  background: transparent;
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: #fff;
  background: var(--brand-color);
  border-color: var(--brand-color);
  /* box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5); */
}

.btn-outline-primary:first-child:focus,
.btn-outline-primary:first-child:active,
.btn-outline-primary:first-child:hover {
  background: var(--brand-color);
  border-color: var(--brand-color);
  /* box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5); */
}

/* .btn-outline:active {
  background: var(--brand-color);
  border-color: var(--brand-color);
} */
.btn-link {
  color: var(--brand-color);
}

.btn-link:hover {
  color: var(--brand-color-hover);
}

.nav-item .nav-link {
  color: var(--brand-color);
}

.nav-item .nav-link:hover {
  color: var(--brand-color-hover);
  /* color: var(--metric-blue-color); */
}

a.link-primary {
  color: var(--brand-color) !important;
}

a.link-primary:hover {
  color: var(--brand-color-hover) !important;
}

#metrics__main-navbar .nav-item {
  font-weight: 600 !important;
}

/* ul#metrics__main-navbar .nav-item .nav-link {
  color: var(--brand-color);
}

ul#metrics__main-navbar .nav-item .nav-link:hover {
  color: #1980ff;
} */

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* ========== Custom ======================================================== */
.text-branding {
  font-weight: 900;
  color: var(--brand-color);
}

/* -----DATATABLES custom setting----- */
.dt-column-title {
  /* add more to padding right for table title */
  padding-right: 0.5em;
}

/* -----ALIGN----- */
.valign-middle {
  vertical-align: middle;
}

/* -----BUTTON----- */
/* .metric_red {}
.metric_deepred {}
.metric_blue {}
.metric_deepblue {}
.metric_green {}
.metric_deepgreen {} */

.btn__actionButtons {
  width: 6em;
}

/* -----BUTTON (go to top)----- */
button#goToTop {
  display: none;
  position: fixed;
  bottom: 4em;
  right: 2em;
  z-index: 20;
}

#submissionStatusBar {
  background: rgba(245, 245, 245, 0.652);
  z-index: 10;
}

/* -----RADIO Element----- */
.radio__kpiscore {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-select {
  user-select: none;
  /* For modern browsers */
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For Internet Explorer/Edge */
}

/* -----CARD----- */
.card .list-group-item>a {
  color: var(--brand-color);
  /* color: #003e84; */
  /* @* color: #0057ba; *@ */
  margin: 0.4em 0.4em;
  padding: 0.4em 0.4em;
}

.card .list-group-item>a:hover {
  color: var(--brand-color-hover);
  /* 1e70da */
  /* @* background: #3465a443; *@ */
  /* @* color: #3465a4; *@ */
  /* @* border-radius: 0.4em; *@ */
}

a.activeLink {
  color: var(--metric-deepblue-color) !important;
}

a.activeLink:hover {
  color: var(--metric-blue-color) !important;
}

/* ------PAGINATION----- */
/* .pagination .page-item .page-link {
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
} */
/* background: var(--primary-color) !important; */
/* background: red !important;
  color: blueviolet !important; */
.pagination .page-item a.page-link {
  /* color: var(--metric-blue-color); */
  /* background: var(--primary-color) !important; */
}

.pagination .page-item a.page-link:active {
  /* background: var(--primary-color); */
}

.pagination .page-item .page-link {
  color: var(--metric-blue-color);
}

.pagination .page-item.active .page-link {
  color: #ffffff;
  /* active text color */
  background-color: var(--metric-blue-color);
  /* active background color */
  border-color: var(--metric-blue-color);
  /* active border color */
}

.pagination .page-link:hover,
.pagination .page-link:focus {
  color: #ffffff;
  background-color: var(--metric-deepblue-color);
  border-color: var(--metric-deepblue-color);
}

/* ========== Dark theme styles ==============================================*/
/* html:has(#mode-switcher #light:checked) {
  color-scheme: dark;
} */
/* html[data-bs-theme="dark"] {
  background-color: #343a40;
  color: #ffffff;
} */
table thead th {
  background: var(--metric-blue-color) !important;
  color: var(--light-color) !important;
}

html[data-bs-theme="dark"] thead th {
  background: var(--metric-lightblue-color) !important;
}

html[data-bs-theme="dark"] .bg-brand-color {
  background: #0f386f !important;
}

html[data-bs-theme="dark"] .nav-item .nav-link {
  color: #ffffff;
}

html[data-bs-theme="dark"] .nav-item .nav-link:hover {
  color: #1980ff;
}

html[data-bs-theme="dark"] #submissionStatusBar {
  background: rgba(50, 50, 50, 0.8);
}

html[data-bs-theme="dark"] .card {
  background-color: #495057;
  color: #ffffff;
}

html[data-bs-theme="dark"] button#goToTop {
  background-color: #007bff;
  color: #ffffff;
}

html[data-bs-theme="dark"] .bg-light {
  background-color: #292c2e !important;
  color: #ffffff;
}

/* ========== DARK: Card List =============================================== */
html[data-bs-theme="dark"] .card .list-group-item>a {
  color: var(--brand-color-dark);
  /* @* color: #0057ba; *@ */
  margin: 0.4em 0.4em;
  padding: 0.4em 0.4em;
}

html[data-bs-theme="dark"] .card .list-group-item>a:hover {
  color: #0099ff;
  /* @* background: #3465a443; *@ */
  /* @* color: #3465a4; *@ */
  /* @* border-radius: 0.4em; *@ */
}

/* Style the toggle button */
#theme-toggle {
  cursor: pointer;
  /* Change cursor to pointer */
  font-size: 1.5rem;
  /* Adjust icon size */
}

/* Hide the moon icon by default */
#theme-toggle .bi-moon-stars-fill {
  display: none;
  /* Hide moon icon initially */
}

/* Show the appropriate icon based on the theme */
html[data-bs-theme="dark"] #theme-toggle .bi-sun-fill {
  display: none;
  /* Hide sun icon in dark mode */
}

html[data-bs-theme="dark"] #theme-toggle .bi-moon-stars-fill {
  display: inline;
  /* Show moon icon in dark mode */
}

a#loginPartial__userInfo,
a#loginPartial__userInfo:active {
  color: var(--brand-color);
}

a#loginPartial__userInfo:hover {
  color: var(--brand-color-hover);
}