:root {
  --brand-color: #3465a4;
  --brand-color-hover: #0269f0;
  --brand-color-dark: #417cc9;
  --primary-color: var(--brand-color) !important;
  /* --primary-hover-color: #0269f0 !important; */
  --outline-primary-color: #3465a4;
}

/*
// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name
*/
/* .open-sans-primary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

html {
  font-size: 14px;

  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background: #fffffff1;
}

.bg-brand-color {
  background: var(--brand-color) !important;
}

#main-content {
  /* 100% of the viewport height */
  /* min-height: 90vh;  */
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  /* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; */
  /* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25em var(--brand-color); */
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover {
  color: var(--brand-color-hover);
  /* color: #006eff; */
  /* text-decoration: underline; */
}

/* ========== OVERRIDE: Bootstrap Styles ==================================== */
/* ----- btn-primary ----- */
.btn-primary {
  background: var(--brand-color);
  border-color: var(--brand-color);
  color: #ffffff;
}
.btn-primary:hover {
  background: var(--brand-color);
  border-color: var(--brand-color);
}
.btn-primary:focus,
.btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5);
}

/* ----- btn-outline-primary ----- */
.btn-outline-primary {
  background: transparent;
  border-color: var(--brand-color);
  color: var(--brand-color);
}
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  background: var(--brand-color);
  border-color: var(--brand-color);
  /* box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5); */
}
.btn-outline-primary:first-child:focus,
.btn-outline-primary:first-child:active,
.btn-outline-primary:first-child:hover {
  background: var(--brand-color);
  border-color: var(--brand-color);
  /* box-shadow: 0 0 0 0.2rem rgba(52, 101, 164, 0.5); */
}
/* .btn-outline:active {
  background: var(--brand-color);
  border-color: var(--brand-color);
} */
.btn-link {
  color: var(--brand-color);
}
.btn-link:hover {
  color: var(--brand-color-hover);
}

.nav-item .nav-link {
  color: var(--brand-color);
}
.nav-item .nav-link:hover {
  color: var(--brand-color-hover);
}

a.link-primary {
  color: var(--brand-color) !important;
}
a.link-primary:hover {
  color: var(--brand-color-hover) !important;
}

/* ul#metrics__main-navbar .nav-item .nav-link {
  color: var(--brand-color);
}

ul#metrics__main-navbar .nav-item .nav-link:hover {
  color: #1980ff;
} */

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ========== Custom ======================================================== */
button#goToTop {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 20px;
  z-index: 20;
}

#submissionStatusBar {
  background: rgba(245, 245, 245, 0.652);
  z-index: 10;
}

.radio__kpiscore {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn__actionButtons {
  width: 6em;
}

.no-select {
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.card .list-group-item > a {
  color: var(--brand-color);
  /* color: #003e84; */
  /* @* color: #0057ba; *@ */
  margin: 0.4em 0.4em;
  padding: 0.4em 0.4em;
}
.card .list-group-item > a:hover {
  color: var(--brand-color-hover);
  /* 1e70da */
  /* @* background: #3465a443; *@ */
  /* @* color: #3465a4; *@ */
  /* @* border-radius: 0.4em; *@ */
}

div .sectionTitle {
  background: #fff;
  margin: 0em 3em;
}

/* ========== Dark theme styles ==============================================*/
html[data-bs-theme="dark"] {
  background-color: #343a40; /* Dark background */
  color: #ffffff; /* Light text */
}

html[data-bs-theme="dark"] .bg-brand-color {
  background: #0f386f !important; /* Darker brand color */
}

html[data-bs-theme="dark"] .nav-item .nav-link {
  color: #ffffff; /* Light text for nav links */
}

html[data-bs-theme="dark"] .nav-item .nav-link:hover {
  color: #1980ff; /* Light hover color */
}

html[data-bs-theme="dark"] #submissionStatusBar {
  background: rgba(50, 50, 50, 0.8); /* Darker background for status bar */
}

html[data-bs-theme="dark"] .card {
  background-color: #495057; /* Dark card background */
  color: #ffffff; /* Light text in card */
}

html[data-bs-theme="dark"] button#goToTop {
  background-color: #007bff; /* Button color for dark mode */
  color: #ffffff; /* Button text color */
}

html[data-bs-theme="dark"] .bg-light {
  background-color: #292c2e !important; /* Dark background for bg-light */
  color: #ffffff; /* Light text for better contrast */
}

/* ========== DARK: Card List =============================================== */
html[data-bs-theme="dark"] .card .list-group-item > a {
  color: var(--brand-color-dark);
  /* @* color: #0057ba; *@ */
  margin: 0.4em 0.4em;
  padding: 0.4em 0.4em;
}
html[data-bs-theme="dark"] .card .list-group-item > a:hover {
  color: #0099ff;
  /* @* background: #3465a443; *@ */
  /* @* color: #3465a4; *@ */
  /* @* border-radius: 0.4em; *@ */
}

/* Style the toggle button */
#theme-toggle {
  cursor: pointer; /* Change cursor to pointer */
  font-size: 1.5rem; /* Adjust icon size */
}

/* Hide the moon icon by default */
#theme-toggle .bi-moon-stars-fill {
  display: none; /* Hide moon icon initially */
}

/* Show the appropriate icon based on the theme */
html[data-bs-theme="dark"] #theme-toggle .bi-sun-fill {
  display: none; /* Hide sun icon in dark mode */
}

html[data-bs-theme="dark"] #theme-toggle .bi-moon-stars-fill {
  display: inline; /* Show moon icon in dark mode */
}
