@page
@model Metrics.Web.Pages.Manage.Submissions.Departments.Scores.IndexModel
@{
    ViewData["Title"] = "Score Submission Status";
}

<div class="container">
    <h4>Department Score Submissions Status</h4>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Score Submissions</li>
        </ol>
    </nav>

    <div class="my-4 pb-4">
        @* ========================================================================== *@
        @if (!ModelState.IsValid)
        {
            <div class="form bg-light p-4">
                <div class="alert alert-danger">
                    <h4>There were some errors:</h4>
                    <ul>
                        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

        @* =============== Filter Bar =============================================== *@
        @* <div id="filter-bar" class="d-flex bg-light p-4 mt-2"><div class="col-sm-4 mx-2"></div></div> *@

        @* ================ Table =================================================== *@
        <div class="bg-light p-4">
            <table id="departmentsTable" class="table">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Submissions</th>
                    </tr>
                </thead>
                <tbody>
                  @* <tr><td></td></tr> *@
                </tbody>
            </table>
        </div>
    </div>
</div>