@page
@model Metrics.Web.Pages.Submissions.DepartmentScores.SuccessModel
@{
}

<h3>Success!</h3>
<div class="alert alert-success my-4 py-4">
    <h4 class="my-4">Thank you, Your KPI Score Submissions form has submitted successfully. <strong>@Model.TargetKpiPeriodName</strong>.</h4>
</div>

<div>
    <p>
        Please check <a class="alert-link" asp-page="/Kpi/Submissions/Index">Submissions</a>.
    </p>
    <p>
        Go back to <a class="alert-link" asp-page="/Index">Home</a>
    </p>
</div>
