@page
@model Metrics.Web.Pages.Account.IndexModel
@{
    @* Layout = "/Pages/Shared/_AuthLayout.cshtml"; *@
    ViewData["Title"] = "Profile";
}

<h3>Profile</h3>

<div class="col col-10 mx-auto">
    <div class="row mb-4">
        <div class="col">
            Change Password:
            <a id="manage" class="" asp-area="" asp-page="/Account/Manage/Password/Change" title="Profile">
            <strong>Change</strong></a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <label for="">Reset Password:</label>
            <a id="manage" class=" w-40" asp-area="" asp-page="/Account/Manage/Password/Reset" title="Profile">
            <strong>Reset</strong></a>
        </div>
    </div>
</div>