@page "{departmentCode}"
@model Metrics.Web.Pages.Departments.EditModel
@{
}

<h3>Edit Department</h3>

<form method="post">
    <div class="row">
        <div class="form-group col-md-3">
            
            @* <input type="" name="Id" value="@Model.UpdateModel.Id" /> *@
            @* <input type="" name="DepartmentCode" value="@Model.UpdateModel.DepartmentCode" /> *@

            <label asp-for="Input.DepartmentName">Department Name</label>
            <input asp-for="Input.DepartmentName" class="form-control" />
            <div>
                <span asp-validation-for="Input.DepartmentName" class="text-danger">
                </span>
            </div>
        </div>

        <div class="form-group col-md-3 mt-4 d-flex align-items-bottom">
            <button type="submit" class="btn btn-primary mx-2" 
                asp-page-handler="Update">Update</button>
            <button type="submit" class="btn btn-warning mx-2"
                asp-page-handler="Cancel">Cancel</button>
        </div>
    </div>
</form>