@page
@model Metrics.Web.Pages.Manage.Users.Groups.IndexModel
@{
    ViewData["Title"] = "User Groups";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h4 class="flex-grow-1"><i class="bi bi-people-fill"></i> User Groups</h4>
        <span class="justify-content-end gap-2">
            <a class="btn btn-success" 
                asp-page="Create"
                asp-route-returnUrl="@Url.Page("Index")"><i class="bi bi-plus-circle"></i> Add</a>
        </span>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Index">Manage</a></li>
            <li class="breadcrumb-item active">Groups</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="mt-4 col-sm-12 col-md-6 bg-light py-2 px-4">
        <table id="groupTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Group Name</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.UserTitleList.Any())
                {
                    var rowNo = 0;
                    @foreach(var role in Model.UserTitleList)
                    {
                        rowNo += 1;
                        <tr>
                            <td class="pe-4">@rowNo</td>
                            <td class="">@role.TitleName</td>
                        </tr>
                    }
                }
            </tbody>
            @* <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot> *@
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            new DataTable('#groupTable', {
                paging: false,
                info: false,
                searching: false,
                @* columnDefs: [
                    { width: '20%', targets: 0 },
                ], *@
                initComplete: function() {
                    @* $('#groupTable thead th').addClass('bg-brand-color text-light'); *@
                }
            });
        });
    </script>
}