@page
@model Metrics.Web.Pages.Manage.Users.Roles.IndexModel
@{
    ViewData["Title"] = "User Roles";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h3 class="flex-grow-1">Roles List</h3>
        @* <span class="justify-content-end gap-2">
            <a class="btn btn-success" 
                asp-page="Create"
                asp-route-returnUrl="@Url.Page("Index")"><i class="bi bi-plus"> </i>New</a>
        </span> *@
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Index">Manage</a></li>
            <li class="breadcrumb-item active">Roles</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="mt-4 col-sm-12 col-md-6">
        <table id="roleTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.UserRoleList.Any())
                {
                    @foreach(var role in Model.UserRoleList)
                    {
                        <tr>
                            <td>@role.RoleName</td>
                        </tr>
                    }
                }
            </tbody>
            @* <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot> *@
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            new DataTable('#roleTable', {
                paging: false,
                info: false,
                searching: false,
                    columnDefs: [
                        { width: '20%', targets: 0 },
                    ],
                    initComplete: function() {
                        // Center align the header cells
                        $('#roleTable thead th').addClass('bg-brand-color text-light');
                    }
            });
        });
    </script>
}