@page
@model Metrics.Web.Pages.Submissions.IndexModel

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Submissions";
    var canSubmitBaseScore = await AuthorizationService.AuthorizeAsync(User, "CanSubmitBaseScorePolicy");
    var canSubmitKeyKpiScore = await AuthorizationService.AuthorizeAsync(User, "CanSubmitKeyScorePolicy");
    var canSubmitCaseFeedbackScore = await AuthorizationService.AuthorizeAsync(User, "CanSubmitCaseFeedbackPolicy");

    var isBaseScoreSubmitter = canSubmitBaseScore.Succeeded;
    var isKeyScoreSubmitter = canSubmitKeyKpiScore.Succeeded;
    var isCaseFeedbackScoreSubmitter = canSubmitCaseFeedbackScore.Succeeded;
}

<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h4 class="flex-grow-1">Submissions
        </h4>
        <span class="justify-content-end gap-2"></span>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @* <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li> *@
            @* <li class="breadcrumb-item active">/ Home</li> *@
        </ol>
    </nav>
</div>


<div class="container">
    <div class="row align-items-stretch">
        @if(isBaseScoreSubmitter) {
            <div class="d-flex col-xs-12 col-md-4">
                <div class="card w-100 department-score">
                    <div class="card-header">
                        <strong>Department Score</strong>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">Submit department performance scores</p>
                        <div class="mt-auto text-end">
                            <a asp-page="./DepartmentScores/Index" 
                                class="btn btn-secondary">Submissions</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if(isKeyScoreSubmitter) {
            <div class="d-flex col-xs-12 col-md-4">
                <div class="card w-100 department-metric-score">
                    <div class="card-header">
                        <strong>Department Metric Score (KEY)</strong>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">Submit department performance metric scores based on key metrics</p>
                        <div class="mt-auto text-end">
                            <a asp-page="./DepartmentMetricScores/Index" 
                                class="btn btn-secondary">Submissions</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if(isCaseFeedbackScoreSubmitter) {
            <div class="d-flex col-xs-12 col-md-4">
                <div class="card w-100 department-case-feedback-score">
                    <div class="card-header">
                        <strong>Department Case Feedback Score</strong>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">Submit department case feedback scores</p>
                        <div class="mt-auto text-end">
                            <a asp-page="./DepartmentMetricScores/Index" 
                                class="btn btn-secondary">Submissions</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Styles {
    <style>
        .department-score .card-header {
            @* color: rgb(3, 91, 73); *@
            color: rgb(22, 125, 132);
        }
        .department-score .card-body {
        }
        .department-score .card-body .btn {
            background: rgb(22, 125, 132);
            border: 0;
        }
        .department-score .card-body .btn:hover {
            background: rgb(3, 91, 73);
            border: 0;
        }
        
        .department-metric-score .card-header {
            @* color: rgb(91, 3, 48); *@
            color: rgb(163, 33, 115);
        }
        .department-metric-score .card-body {
        }
        .department-metric-score .card-body .btn {
            background: rgb(163, 33, 115);
            border: 0;
        }
        .department-metric-score .card-body .btn:hover {
            background: rgb(91, 3, 48);
            border: 0;
        }
        
        
        .department-case-feedback-score .card-header {
            @* color: rgb(3, 16, 91); *@
            color: rgb(33, 63, 163);
        }
        .department-case-feedback-score .card-body {
        }
        .department-case-feedback-score .card-body .btn {
            background: rgb(33, 63, 163);
            border: 0;
        }
        .department-case-feedback-score .card-body .btn:hover {
            background: rgb(3, 16, 91);
            border: 0;
        }
    </style>
}