@page
@model Metrics.Web.Pages.Account.Manage.Password.ResetModel
@{
    @* Layout = "/Pages/Shared/_AuthLayout.cshtml"; *@
    ViewData["Title"] = "Request Password Reset";
}

<h3>Request Password Reset</h3>