@page
@model Metrics.Web.Pages.Manage.Roles.IndexModel
@{
     Layout = "/Pages/Shared/_Layout.cshtml";
}

<h3>Roles List</h3>

@* <div class="mt-4">
    <a class="btn btn-success" asp-page="/Employee/Register">New</a>
</div> *@

<div class="mt-4">
    <table id="roleTable" class="table" style="width:100%">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.UserRoleList.Any())
            {
                @foreach(var role in Model.UserRoleList)
                {
                    <tr>
                        @* <td>@role.Id</td> *@
                        <td>@role.RoleName</td>
                    </tr>
                }
            }
        </tbody>
        @* <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> *@
    </table>
</div>

@section Scripts {
    <script>
        new DataTable('#roleTable', {
            paging: false,
            info: false,
            searching: false
        });
    </script>
}